h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-primary);
}

h1 {
    font-size: var(--text-4xl);
}

h2 {
    font-size: var(--text-3xl);
}

h3 {
    font-size: var(--text-2xl);
}

h4 {
    font-size: var(--text-xl);
}

p {
    font-family: var(--font-body);
    font-size: var(--text-base);
    color: var(--color-text);
    line-height: 1.8;
}

.text-light {
    color: var(--color-text-light) !important;

    h1,
    h2,
    h3,
    h4,
    p {
        color: var(--color-text-light);
    }
}